<launch>


  <!-- Map server -->
  <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL -->
  <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/kinect_amcl.launch.xml"/>
  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/kinect_costmap_params.yaml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>
  
  <!--<param name="/move_base/local_costmap/inflation_layer/inflation_radius" value="0.1"/>
  <param name="/move_base/global_costmap/inflation_layer/inflation_radius" value="0.1"/>

  <param name="/move_base/local_costmap/robot_radius" value="0.10"/>
  <param name="/move_base/global_costmap/robot_radius" value="0.10"/> 

  <param name="/move_base/local_costmap/transform_tolerance" value="5.0"/> 
  <param name="/move_base/global_costmap/transform_tolerance" value="5.0"/> 
  
  <param name="/move_base/local_costmap/update_frequency" value="1.0"/> 
  <param name="/move_base/global_costmap/update_frequency" value="1.0"/>

  <param name="/move_base/DWAPlannerROS/planner_patience" value="15.0"/>
  <param name="/move_base/DWAPlannerROS/controller_patience" value="15.0"/>
  <param name="/move_base/DWAPlannerROS/sim_time" value="4.0"/>
  <param name="/move_base/DWAPlannerROS/acc_lim_x" value="0.5"/>
  <param name="/move_base/DWAPlannerROS/min_vel_x" value="0.05"/>
  <param name="/move_base/DWAPlannerROS/occdist_scale" value="0.01"/> 
  <param name="/amcl/initial_cov_xx" value="0.005"/>
  <param name="/amcl/initial_cov_yy" value="0.005"/>
  <param name="/amcl/initial_cov_aa" value="0.005"/>-->

</launch>

